@import "tailwindcss";
@theme {
  --color-background: #111111;
  --color-foreground: #ffffff;
  --color-section-background: #E1E1E1;
  --color-section-text: #000000;
  --color-footer-text: #000000;
  --color-input-background: #202020;
  --color-muted: #6b7280; /* A dark gray for muted text on light backgrounds */
  --color-placeholder: #a0a0a0; /* A lighter gray for placeholders */

  --color-brand-start: #00A1E7;
  --color-brand-end: #0BB2BA;

  
  --gradient-brand: linear-gradient(
    135deg,
    var(--color-brand-start),
    var(--color-brand-end)
  );
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

html{
  scroll-behavior: smooth;
  
}