@import "tailwindcss";

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@theme {
  --color-background: #111111;
  --color-foreground: #ffffff;
  --color-section-background: #E1E1E1;
  --color-section-text: #000000;
  --color-footer-text: #000000;
  --color-input-background: #202020;
  --color-placeholder: #a0a0a0; /* A lighter gray for placeholders */

  --color-brand-start: #00A1E7;
  --color-brand-end: #0BB2BA;

  
  --gradient-brand: linear-gradient(
    135deg,
    var(--color-brand-start),
    var(--color-brand-end)
  );
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Urbanist', sans-serif;
  }
}

html{
  scroll-behavior: smooth;
  
}