@import "tailwindcss";
@theme {
  --color-background: #111111;
  --color-foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

html{
  scroll-behavior: smooth;
  
}